:root {
    --color-primary: #1D2C4C;
    --color-accent: #2EC5A6;
    --color-danger: #F76C5E;
    --color-background: #F5F5F5;
    --color-border: #B0B0B0;
  
    --text-primary: var(--color-primary);
    --text-muted: #666;
  }