/* styles.css ou componente SCSS */

:root {
  --color-primary: #1d2c4c;
  --color-accent: #2ec5a6;
  --color-danger: #f76c5e;
  --color-background: #efe6e6;
  --color-border: #b0b0b0;

  --text-primary: var(--color-primary);
  --text-muted: #666;
  --p-panelmenu-gap: 3px
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: "Segoe UI", sans-serif;
}

.app-title {
  font-size: 14px;
  color: #ccc;
}

/* Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}
