.planning-poker-layout {
  display: grid;
  grid-template-columns: 45% 1fr;
  gap: 24px;
  padding: 16px;
  height: 75vh;
  box-sizing: border-box;
}

/* Esquerda: tudo agrupado */
.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}



/* Box de tarefa */
.task-box {
  background-color: #284466;
  color: white;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  max-width: 410px;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

.task-desc {
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 4px;
  font-size: 13px;
  margin: 12px 0;
}

.project-info {
  font-size: 14px;
}

.sprint-date {
  color: #f25f5c;
  font-weight: bold;
}

/* Painel de votos */
.vote-panel {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  width: 100%;
  max-width: 550px;
  text-align: center;
}

.card-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}

.vote-card {
  background-color: #2c3e50;
  color: white;
  width: 48px;
  height: 64px;
  font-size: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.vote-card.selected {
  background-color: #f25f5c;
}

.vote-button {
  background-color: #29978b;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

/* Direita: grid de usuários */
.users-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
  align-content: flex-start;
  overflow-y: auto;
  max-height: 100%;
  padding-right: 8px;
}

.user-card-wrapper {
  max-width: 150px;
}

.box-task-user{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 1200px) {
  .box-task-user{
    flex-direction: column;
  }
}