.layout-container {
  display: flex;
  height: 100vh;
  background-color: var(--color-background);

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .topbar {
      background: white;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
      flex-shrink: 0;
      margin: 0.5em;
      border-radius: 5px;
    }

    .topbar {
      .greeting {
        font-weight: 500;
        color: var(--text-primary);
      }

      .topbar-icons {
        display: flex;
        align-items: center;
        .pi {
          font-size: 1.2rem;
          cursor: pointer;
        }
      }
    }

    .content {
      flex: 1;
      padding: 2rem;
    }
  }
}

.notification-container {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
}

.notification-icon {
  font-size: 1.8rem;
  color: #333;
  cursor: pointer;
}

.notification-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1;
  min-width: 18px;
  text-align: center;
  box-shadow: 0 0 0 2px white;
}

.layout-wrapper {
  display: flex;
  // height: 100vh;
  font-family: "Segoe UI", sans-serif;
  overflow: hidden;
}

