.sidebar {
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    var(--color-accent),
    var(--color-primary)
  );
  color: #fff;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.2);
  padding: 1rem 0;

  .logo-section {
    text-align: center;
    margin-bottom: 1.5rem;

    .logo {
      width: 200px;
      // filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.3));
    }
  }

  .menu {
    flex: 1;
    overflow-y: auto;
    padding: 0 1rem;

    .menu-group {
      margin-bottom: 2rem;
      font-size: 0.8em;
      background: #d1d1d16b;
      padding: 10px;
      border-radius: 5px;

      h5 {
        margin: 5px 0 !important;
      }

      .group-title {
        font-size: 0.75rem;
        text-transform: uppercase;
        color: var(--color-background);
        letter-spacing: 1px;
      }

      ::ng-deep .p-panelmenu-panel {
        border: none;
        background: transparent;
        padding: 0.1em 0;
      }

      ::ng-deep a.p-panelmenu-header-link {
        color: #ffffff;
        padding: 0.6rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        transition: background 0.3s;
        background: var(--color-primary);
        gap: 5px;
      }

      ::ng-deep a.p-panelmenu-header-link:hover {
        background-color: var(--color-danger);
      }

      ::ng-deep .p-menuitem-link {
        color: #b2dfdb;
        padding: 0.5rem 1rem;
        display: block;
        transition: color 0.2s;
      }

      ::ng-deep .p-menuitem-link:hover {
        color: #26c6da;
      }

      ::ng-deep span.p-panelmenu-header-label {
        margin: 0 5px;
      }
    }
  }

  .user-section {
    padding: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .profile-info {
      display: flex;
      align-items: center;

      .profile-icon {
        background: linear-gradient(135deg, #00acc1, #00796b);
        padding: 0.6rem;
        border-radius: 50%;
        color: white;
        font-size: 1.2rem;
        margin-right: 0.5rem;
      }

      .username {
        font-size: 0.85rem;
        color: #b2dfdb;
      }
    }

    .login-button {
      background: linear-gradient(135deg, #ff7043, #d84315);
      color: #fff;
      font-size: 0.75rem;
      font-weight: bold;
      padding: 0.4rem 1rem;
      border: none;
      border-radius: 1rem;
      text-transform: uppercase;
      transition: background 0.3s ease;
    }

    .login-button:hover {
      background: linear-gradient(135deg, #f4511e, #bf360c);
    }
  }
}

.call-to-action {
  background: #c5c1c157;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .cta-content {
    max-width: 240px;

    h3 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      letter-spacing: 1px;
      font-weight: 700;
    }

    p {
      font-size: 0.85rem;
      margin-bottom: 1rem;
      color: #e0f7fa;
    }

    .cta-button {
      background: linear-gradient(135deg, #ff7043, #d84315);
      color: #fff;
      padding: 0.5rem 1.2rem;
      border-radius: 1rem;
      font-size: 0.75rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      border: none;
      transition: background 0.3s ease;
    }

    .cta-button:hover {
      background: linear-gradient(135deg, #f4511e, #bf360c);
    }
  }
}
